.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card.alert-visible {
  height: 420px; /* Ajusta el tamaño según tus necesidades */
}

.card {
  width: 380px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: radial-gradient(circle at center, #ffffff, #fcfbfb63);
}

.card-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-block {
  display: block;
  width: 100%;
}

.text-danger {
  margin-top: 10px;
}
