@import '~bootstrap-icons/font/bootstrap-icons.css';

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.search-input {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.search-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}

